:root {
    --black: #1b1c1c;
    --white: #f5f5f5;
    --red: #e60053;
    --blue: #799df6;
    --yellow: #fbdd91;
    --pink: #f985e0;
    --green: #6ef38b;
    --purple: #756bb1;
}

*:not(li,a) {
    margin: 2% 5%;
    background-color: var(--black);
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    font-size: 30px;
    color: var(--white);
}

a:link {
    color: var(--blue);
}

a:visited {
    color: var(--red);
}
